[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/termcolor"]
	path = vendor/termcolor
	url = https://github.com/ikalnitsky/termcolor.git
